header{
    text-align: center;
}
html, body{
    height:100%;
}
.slide-entire{
    height: 100%;
}
/* 중간으로 맞추고 싶었는데 그냥 % 로 끼워 맞춤, 
그래도 % 로 맞춰서 비율은 안깨질꺼라 예상했는데 막상 바꿔보면 수직중앙이안됨*/
.slide-body{
    text-align: center;
    /* margin이건 수평 가운데 정렬임.. 잘 이해안됨 천천히 바야됨 */
    margin: 0 auto;
    padding-top:10px;
    padding-bottom:10px;

}
.image-list{
    padding:10px;
    top:100px;
    width: 500px;
    height: 600px;
}
.image-button{
    position: absolute;
    bottom:45%;
    background: transparent;
    border-style: solid;
    border-color: transparent #9400D3;
    opacity: 0.8;
}
#image-button-left:hover,#image-button-right:hover{
    opacity: 1;
}
#image-button-left{
    left: 30%;
    border-width: 20px 40px 20px 0;
}
#image-button-right{
    right: 30%;
    border-width: 20px 0 20px 40px;
}
.page-radio-bundle{
    position: absolute;
    bottom: 5%;
    left: 46%;
}