*:focus { outline:none; }
ul{
    list-style:none;
    margin:0px; padding:0px;
}
html{
    width: 100%;
    height: 100%;
    /* padding : 100px 350px 100px 350px; */
    background : #ddd;
}
footer{
    position: relative;
    top:10px;
    text-align: center;
}
#main-title{
    text-align: center;
}
.App-entire{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    width:500px;
    height:544px;
    border:1px solid #000;
    background: #fff;
}
.App-body{
    padding-left:30px;
    padding-right:30px;
}
.App-list{
    border:1px solid rgb(168, 168, 168);
    margin-top: 20px;
    height: 360px;
    border-radius: 4px;
}
.list-unit{
    position:relative;
    border-bottom:1px solid rgb(168, 168, 168);
    padding : 7px;

}
.list-unit:hover{
    background-color: rgb(245, 244, 243);
}
.list-button{
    position: absolute;
    top: 16px;
    right: 10px;
}
.button-unit{
    text-align: center;
    height: 20px;
    width: 50px;
    background-color: #fff;
    border:1px solid rgb(216, 213, 213);
    cursor: pointer;
    border-radius: 4px;
}
.button-unit:hover{
    background-color: beige;
}
.button-unit:active{
    background-color: rgb(202, 218, 116);
}
#input-text{
    width:100%;
    height: 30px;
    border:none;
    border-bottom:1px solid #000;
}
input[type="checkbox"] { 
    position: absolute;
    left:15px;
    width:1px;
    height:1px;
}
.checkbox-circle:before{
    content:"";
    display:inline-block;
    position: relative;
    width : 30px;
    height : 30px;
    border : 1px solid #000;
    border-radius: 50%;
    vertical-align: middle;
    margin:5px;
    transition : all 0.5s;

}
.checkbox-circle:before:hover{
    background-color: rgb(235, 208, 57);
}
input[type="checkbox"]:checked + .checkbox-circle:before {
    content:"\2713";
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    
}
.footer-button{
    background-color: #fff;
    border:1px solid rgb(216, 213, 213);
    cursor: pointer;
    border-radius: 4px;
}
.footer-button:hover{
    background-color: beige;
}
.footer-button:active{
    background-color: rgb(202, 218, 116);

}